In [1]:
import pandas as pd

In [2]:
demographic_2011_df = pd.read_csv('../../data/raw/2011-2012_demographic.csv')
demographic_2013_df = pd.read_csv('../../data/raw/2013-2014_demographic.csv')
demographic_2015_df = pd.read_csv('../../data/raw/2015-2016_demographic.csv')

In [3]:
demographic_2011_df.shape

(9756, 47)

In [4]:
demographic_2013_df.shape

(10175, 47)

In [5]:
demographic_2015_df.shape

(9971, 47)

In [12]:
all_demographic_df = pd.concat([demographic_2011_df, demographic_2013_df, demographic_2015_df], axis=0)

In [13]:
all_demographic_df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,62161.0,7.0,2.0,1.0,22.0,NaN,3.0,3.0,2.0,NaN,...,5.0,1.0,5.0,102641.406474,104236.582554,1.0,91.0,14.0,14.0,3.15
1,62162.0,7.0,2.0,2.0,3.0,NaN,1.0,1.0,1.0,41.0,...,3.0,6.0,NaN,15457.736897,16116.354010,3.0,92.0,4.0,4.0,0.60
2,62163.0,7.0,2.0,1.0,14.0,NaN,5.0,6.0,2.0,177.0,...,5.0,1.0,4.0,7397.684828,7869.485117,3.0,90.0,15.0,15.0,4.07
3,62164.0,7.0,2.0,2.0,44.0,NaN,3.0,3.0,1.0,NaN,...,4.0,1.0,4.0,127351.373299,127965.226204,1.0,94.0,8.0,8.0,1.67
4,62165.0,7.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,179.0,...,2.0,77.0,NaN,12209.744980,13384.042162,2.0,90.0,4.0,4.0,0.57