# MERGE Example

In [1]:
import pandas as pd

In [10]:
demographic_2011_df = pd.read_csv('../../data/raw/2011-2012_demographic.csv')
mental_health_2011_df = pd.read_csv('../../data/raw/2011-2012_mental_health.csv')
diabetes_2011_df = pd.read_csv('../../data/raw/2011-2012_diabetes.csv')

In [11]:
all_data_df = demographic_2011_df.merge(mental_health_2011_df, how='outer')
all_data_df = all_data_df.merge(diabetes_2011_df, how='outer')

In [12]:
all_data_df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DIQ300D,DID310S,DID310D,DID320,DID330,DID341,DID350,DIQ350U,DIQ360,DIQ080
0,62161.0,7.0,2.0,1.0,22.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62162.0,7.0,2.0,2.0,3.0,NaN,1.0,1.0,1.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62163.0,7.0,2.0,1.0,14.0,NaN,5.0,6.0,2.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62164.0,7.0,2.0,2.0,44.0,NaN,3.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62165.0,7.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,179.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN